<a href="https://colab.research.google.com/github/bapelindo/google-colab/blob/master/bapel_null_net.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Quiz 1 : Hello World to Python</h2>
    
Print Say Hello World to Python

In [0]:
print("Hello World Python")

Hello World Python

Expected Output : 

Hello World Python

<h2>Quiz 2 : Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [0]:
numA = 5
numB = 10
print(numA+numB)
print(numA-numB)
print(numA*numB)
print(numA/numB)

15
-5
50
0.5

<h2>Quiz 3 : Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [0]:
a = int(10)
b = int(3)
print(int(a/b))
print(float(a/b))

3
3.3333333333333335

<h2>Quiz 4 : String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science.'

In [0]:
firstname = str("Ahmad Nur")
lastname = str("Rizki")
f'Hello sanbercode, saya {firstname} {lastname}! saya siap belajar python data science'

'Hello sanbercode, saya Ahmad Nur Rizki! saya siap belajar python data science'

Expected Output :

Hello sanbercode, saya fauzan taufik! saya siap belajar python data science.

<h2>Quiz 5 : Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [0]:
p = 9.99999
q = 'the number : '
print(q + format(p))

the number : 9.99999

Expected Output :

the number : 9.99999

Terima kasih ^_^